## Place Recommender System

In [ ]:
# Importing necessary libraries 
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# Loading the data into a pandas dataframe
from google.colab import drive
drive.mount('/content/drive')
data = pd.read_csv('/content/drive/My Drive/Huna_KSA/Colab Notebooks/rcs-hunaksa/places_data.csv')

Mounted at /content/drive

In [ ]:
# Top 5 rows of the data
data.head()

,place,category,city,description,type
0,A spa,Woman,Jeddah,a spa,Spa
1,Al-balad Jeddah,General,Jeddah,Here is Jeddah Al-balad,Historical Sites
2,Ali Altimimi Park,General,Alkhobar,It is good for all families,Parks
3,Alolaya Park,General,Riyadh,Alolaya Park,Parks
4,Angelina,General,Jeddah,Angelina,Restaurants & Cafes

In [ ]:
# Creating a CountVectorizer object to generate term frequency matrix
cv = CountVectorizer()

In [ ]:
# Generating the term frequency matrix
tf_matrix = cv.fit_transform(data['type'])

In [ ]:
# Calculating the cosine similarity matrix
cosine_sim = cosine_similarity(tf_matrix)

In [ ]:
# Defining a function to get recommendations based on user's interests
def get_recommendations_based_on_interests(interests, data, cosine_sim):
    # Creating a list of indices for the places that match the user's interests
    indices = []
    for index, row in data.iterrows():
        if any(interest in row['type'] for interest in interests):
            indices.append(index)

    # Creating a list of tuples that contain the index and similarity score for each place
    similar_places = []
    for index in indices:
        sim_scores = list(enumerate(cosine_sim[index]))
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
        sim_scores = sim_scores[1:6]
        place_indices = [i[0] for i in sim_scores]
        similar_places.append((index, place_indices))

    # Creating a list of recommended places
    recommended_places = []
    for place in similar_places:
        for index in place[1]:
            recommended_places.append(data.iloc[index]['place'])

    return list(set(recommended_places))

In [ ]:
# Calling the get_recommendations_based_on_interests() function with a list of interests
interests = ["Historical Sites", "Restaurants & Cafes"]
recommended_places = get_recommendations_based_on_interests(interests, data, cosine_sim)

# Print the recommended places
print("Recommended places based on interests:")
print(recommended_places)

Recommended places based on interests:
['Centerio Mall', 'Bait Wafaa', 'chucked cheese', 'Matbouli House Museum', 'Entrecôte Café de Paris', 'Bab Makkah-Jeddah', 'circolo', 'acme', 'Nassif House Museum', 'Floating alrahma mosque']